/* =========================
   MOBILE NAVIGATION
========================= */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        display: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-actions .btn {
        display: none;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .about-text h2,
    .section-title {
        font-size: 2rem;
    }

    .menu-grid {
        grid-template-columns: 1fr;
    }
    .why-grid {
    grid-template-columns: 1fr;
}

.specials-box h2 {
    font-size: 2rem;
}
.booking-form {
    grid-template-columns: 1fr;
}

.booking-form button:last-child {
    grid-column: span 1;
}
.contact-content,
.footer-content {
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
}
.cart-item {
    flex-direction: column;
  text-align: center;
}

.page-hero h1 {
    font-size: 2.2rem;
}
/* =========================
   SEARCH & FILTER
========================= */
.menu-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

#searchInput {
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 250px;
}

.filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #eee;
    transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: var(--primary);
    color: #fff;
}

}